@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("base/variables.css");
@import url("base/global.css");
@import url("base/custom.css");
@import url("layout/header.css");
@import url("layout/pagination.css");
@import url("layout/categories.css");
@import url("layout/forums.css");
@import url("layout/posts.css");
@import url("layout/post.css");
@import url("layout/users.css");
@import url("layout/messages.css");
@import url("layout/groups.css");
@import url("layout/blogs.css");
@import url("layout/blog.css");
@import url("components/sidebar.css");
@import url("components/editor.css");
@import url("components/notiffi.css");
@import url("components/switcheroo.css");
@import url("components/navbar.css");
@import url("components/online.css");
@import url("components/profile.css");
@import url("components/wombat.css");
@import url("components/tags.css");
@import url("components/profileeditor.css");
@import url("components/search.css");
@import url("components/auth.css");
