/*** ------------------------------- ***/
/*** CATEGORIES -------------------- ***/

.category {
  background: var(--neutralDark);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 25px;
}

/* Titre d'une catégorie */
.cate_title h2 {
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--altFont);
  margin: 10px 0 20px;
  padding-right:3px;
  border-right: 6px solid var(--textColorAccent);
  animation: blink .5s step-end infinite alternate;
}
