/*** ------------------------------- ***/
/*** CATEGORIES -------------------- ***/

.category {
  background: var(--neutralDark);
  border-radius: 10px;
  margin: 0;
}

/* Titre d'une catégorie */
.cate_title h2 {
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--altFont);
  margin: 18px;
  padding-right: 3px;
  border-right: 6px solid var(--textColorAccent);
  animation: var(--blinkAnimation);
}
