.forums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* grid-template: auto / 1fr 1fr; */
  gap: 18px;
  justify-content: center;
}

/* conteneur d'un forum*/
.forum {
  background: var(--neutral);
  border-radius: 6px;
  margin: 0;
  min-width: 420px;
  width: calc(50% - 24px);
  outline: var(--border);
  box-shadow: 6px 6px var(--contrastLighter);
  padding-bottom: 6px;
}

.forum:last-child {
  margin-bottom: 0;
}

/* titre d'un forum */
a.forumtitle {
  font-size: var(--large-size);
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: var(--altFont);
  font-weight: normal;
  background-color: var(--contrast);
  border-radius: 6px 6px 0 0;
  padding: 3px 6px;
  text-align: right;
  text-transform: lowercase;
}

a.forumtitle:after {
  content: "×";
  padding: 0 3px;
  margin-left: 12px;
  height: 16px;
  display: flex;
  align-items: center;
}

a.forumtitle:hover {
  color: var(--textColorAccent);
}

.forum_content {
  display: flex;
  gap: 6px;
  padding: 6px;
  border-radius: 0 0 6px 6px;
  position: relative;
}

/*image statut du forum */
.forum-img {
  width: 70px;
  height: 70px;
  background-color: var(--neutralDark);
}

/*description du forum*/
.forum_desc {
  flex: 1;
  width: calc(100% - 120px);
  overflow: auto;
  align-self: center;
}

.forum_desc img {
  width: 60px;
  height: 120px;
  object-fit: cover;
  float: left;
  border-radius: 6px;
  border: var(--border);
  opacity: 0.5;
  filter: sepia(0.5);
}

.forum_desc img:hover {
  opacity: 0.7;
}

.forum_desc div {
  max-height: 120px;
  overflow: auto;
  padding: 0 6px;
}

/*conteneur avatar du dernier posteur*/
.forum_avatar {
  width: 120px;
  height: 60px;
  float: right;
  border-radius: 50%;
}

.forum_avatar div {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.forum_avatar div img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  position: relative;
  filter: sepia(0.3);
  opacity: 0.5;
  margin-bottom: 3px;
}

.forum_avatar div img:hover {
  filter: sepia(0.1);
  opacity: 0.7;
}

/* dernier message*/
.forum_lastpost {
  width: 100%;
  background-color: var(--contrastLighter);
  padding: 6px;
}

.forum_lastpost span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--little-size);
}

.forum_lastpost span a:first-child {
  font-family: var(--altFont);
  width: 100%;
  display: block;
  text-align: center;
  font-weight: normal;
}

.forum_lastpost:empty {
  display: none;
}

.sprite-icon_topic_latest,
.sprite-icon_topic_newest {
  max-width: 6px;
  max-height: 6px;
}

.lastpost br {
  display: none;
}

.forum_details {
  display: flex;
  justify-content: end;
  margin-top: 6px;
}

/* liens des sous forums */
#subforum {
  font-size: 0;
  /*permet de retirer la virgule*/
}

#subforum a {
  font-size: var(--little-size);
  margin-right: 10px;
  font-family: var(--altFont);
  font-weight: normal;
  display: inline-block;
  background-color: var(--contrastLighter);
  padding: 0 3px;
  text-transform: lowercase;
}

.forum_stats {
  font-weight: 600;
  float: right;
  font-size: var(--little-size);
}
