.forums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* grid-template: auto / 1fr 1fr; */
  gap: 12px;
  justify-content: center;
}

/* conteneur d'un forum*/
.forum {
  background: var(--neutral);
  border-radius: 6px;
  margin: 0;
  min-width: 420px;
  width: calc(50% - 24px);
  outline: var(--border);
  box-shadow: 6px 6px var(--contrastLighter);
}

.forum:last-child {
  margin-bottom: 0;
}

/* titre d'un forum */
a.forumtitle {
  font-size: var(--large-size);
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: var(--altFont);
  font-weight: normal;
  background-color: var(--contrast);
  border-radius: 6px 6px 0 0;
  padding: 3px 6px;
  text-align: right;
}

a.forumtitle:after {
  content: "× ";
  padding: 0 3px;
  margin-left: 12px;
  outline: var(--border);
  border-radius: 3px;
  height: 16px;
  display: flex;
  align-items: center;
}

a.forumtitle:hover {
  color: var(--textColorAccent);
}

.forum_content {
  display: box;
  gap: 6px;
  align-items: center;
  padding: 6px;
  border-radius: 0 0 6px 6px;
  position: relative;
}

/*image statut du forum */
.forum-img {
  width: 70px;
  height: 70px;
  background-color: var(--neutralDark);
}

/*description du forum*/
.forum_desc {
  flex: 1;
  height: 90px;
  width: calc(100% - 66px);
  overflow: auto;
  align-self: center;
}

.forum_desc img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  float: left;
  border-radius: 6px;
  border: var(--border);
  opacity: 0.7;
  filter: sepia(0.5);
}

.forum_desc div {
  max-height: 90px;
  overflow: auto;
  padding: 6px;
}

/*conteneur avatar du dernier posteur*/
.forum_avatar {
  width: 60px;
  height: 60px;
  float: right;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: var(--neutralDarker);
}

.forum_avatar div img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  position: relative;
}

/* dernier message*/
.forum_lastpost {
  width: max-content;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 30px;
  right: 30px;
  z-index: 50;
  background-color: var(--accentClr);
  border-radius: 6px;
  outline: var(--border);
  padding: 6px;
}

.forum_avatar:hover .forum_lastpost {
  visibility: visible;
  opacity: 0.6;
}

.sprite-icon_topic_latest {
  max-width: 6px;
  max-height: 6px;
}

.forum_details {
  display: flex;
  justify-content: end;
  margin-top: 6px;
}

/* liens des sous forums */
#subforum {
  font-size: 0;
  /*permet de retirer la virgule*/
}

#subforum a {
  font-size: var(--little-size);
  margin-right: 10px;
  font-family: var(--altFont);
  font-weight: normal;
  display: inline-block;
  background-color: var(--contrastLighter);
  padding: 0 3px;
}

.forum_stats {
  font-weight: 600;
  float: right;
  font-size: var(--little-size);
}
