#header {
  background-image: var(--backgroundHeader);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 900px;
  max-height: 90vh;
  display: block;
}

#header > div {
  width: 960px;
  max-width: 90%;
  height: 900px;
  max-height: 90vh;
  margin: auto;
  position: relative;
  display: flex;
}

#header_img {
  background: var(--header);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 540px;
  height: 360px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  outline: var(--border);
  box-shadow: 6px 6px var(--contrastLighter);
}

#header_mask {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

#header_character {
  background: var(--header-character);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 540px;
  height: 480px;
}

#header_img span#header_tags {
  z-index: 2;
  position: relative;
  display: flex;
  gap: 6px;
  margin: 12px;
}

#header #header_title {
  font-size: 9em;
  font-family: var(--titleFont);
  position: absolute;
  bottom: 42px;
  right: 30px;
  color: var(--accentClrLight);
  z-index: 10;
  background: linear-gradient(
    90deg,
    var(--accentClrLight),
    var(--contrastLighter),
    var(--accentClrLight)
  );
  background-size: 300% 100%;

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  display: inline-block;
}

#header #header_title > span {
  font-family: var(--accentFont);
  color: var(--accentClr);
}

#header #header_title_back {
  font-size: 9em;
  font-family: var(--titleFont);
  position: absolute;
  bottom: 42px;
  right: 30px;
  color: var(--neutral);
  z-index: 9;
}

#header #header_subtitle {
  font-size: 2em;
  font-family: var(--altFont);
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: var(--contrast);
  z-index: 8;
}

/****** ------------------------------------------------------------------------------ 
 ****** ENTETE DU FORUM --------------------------------------------------------------
 ****** Tous les éléments qui s'affichent en tête de toutes les pages ---------------- ******/

/* Notiffi CSS */
/* Cache la toolbar défaut */
#fa_toolbar {
  display: none;
}

/* Bouton de notification */
#notiffi_button {
  cursor: pointer;
  background: var(--neutral);
  outline: var(--border);
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 3px 12px;
  z-index: 99;
}

/* Conteneur du nombre de notification non lues REMPLI */
.unread_count {
  position: relative;
  background: var(--neutralDarker);
  border-radius: 5px;
  width: 25px;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 12px;
  scale: 1;
  opacity: 1;
  aspect-ratio: 1;
  transition: scale ease-out 0.2s;
}

/* Conteneur du nombre de notification non lues VIDE */
.unread_count:empty {
  position: absolute;
  scale: 0;
  opacity: 0;
  transition: all ease-out 0.2s;
}

/*** ------------------------------- ***/
/*** ANNONCES DEFILANTES ----------- ***/

/* Barre défilante */
.module {
  border-radius: 5px;
  border: var(--border);
  margin: 10px 0;
  padding: 4px 8px;
}

/****** ------------------------------------------------------------------------------
 ****** PAGE PRINCIPALE, INDEX ------------------------------------------------------- ******/

/* PAGE D'ACCUEIL ---*/
.introduction {
  padding: 0 !important;
  box-shadow: 6px 6px var(--contrast);
}

.introduction .h3 {
  background-color: var(--accentClrLight);
  font-size: var(--large-size);
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: var(--altFont);
  font-weight: normal;
  text-transform: lowercase;
  color: var(--textColor);
  border-radius: 6px 6px 0 0;
  padding: 3px 6px;
  text-align: right;
}

.introduction .h3:after {
  content: "× ";
  padding: 0 3px;
  margin-left: 12px;
  outline: var(--textColor);
  border-radius: 3px;
  height: 16px;
  display: flex;
  align-items: center;
}

.mes-txt {
  padding: 12px;
}
