/*** ------------------------------- ***/
/*** PAGINATIONS -------------------- ***/

.pagination {}

/*lien unique vers les pages numérotées*/
.pagination span a {
  font-size: var(--little-size);
}

/*survol des liens uniques des pages*/
.pagination span a:hover {
  font-weight: 600;
}

/*lien actif : page sur laquelle vous vous trouvez */
.pagination span strong {
  background-color: var(--neutralDark);
  border-radius: 3px;
  padding: 1px 4px;
}

/*suppression de l'image-lien "aller à la page suivante" */
.page-topic span a:last-child,
.pag-img {
  display: none;
}
