/*** ------------------------------- ***/
/*** PAGINATIONS -------------------- ***/

.pagination {
  margin: 0 3px;
  display: flex;
  align-items: center;
}

/*lien unique vers les pages numérotées*/
.pagination span a {
  background-color: var(--neutralDarker);
  border-radius: 3px;
  padding: 1px 3px;
}

/*lien actif : page sur laquelle vous vous trouvez */
.pagination span strong {
  background-color: var(--contrastLighter);
  border-radius: 3px;
  padding: 1px 3px;
}

/*suppression de l'image-lien "aller à la page suivante" */
.page-topic span a:last-child,
.pag-img {
  display: none;
}
