/****** ------------------------------------------------------------------------------
 ****** LISTE DES SUJETS ------------------------------------------------------------- ******/

/*** ------------------------------- ***/
/*** ENTETE ET FOOTER DE LA LISTE DES SUJETS ***/

/* Chaîne de navigation et pagination
 * (réutilisé dans l'affichage d'un sujet (viewtopic_body)) */
.navigation_links {
  display: flex;
  justify-content: end;
  margin: 12px 0;
}

/* chaîne de lien de navigation : catégorie > forum > sous-fo */
.navigation_chain {
  font-size: 0;
  /*retire les :: de séparation */
  display: flex;
  align-items: center;
}

.navigation_chain a {
  font-size: var(--normal-size);
  margin-right: 8px;
  display: flex;
  align-items: center;
  font-family: var(--altFont);
  font-weight: normal;
}

.navigation_chain a:before {
  content: "♡";
  /*symbole ou texte modifiable*/
  margin-right: 3px;
  font-size: var(--large-size);
}

/* BOUTONS DE MESSAGE : Répondre, Nouveau,... ---* 
 * (réutilisé dans l'affichage d'un sujet (viewtopic_body) et les MP (privmsgs_body) */
.buttons {
  background: var(--contrastLighter);
  padding: 3px 12px;
  margin: 6px;
  opacity: 1;
  font-family: var(--altFont);
  font-weight: normal;
}

.buttons:hover {
  opacity: 0.7;
}

/* BOUTONS : modérer les sujets de ce forum */
#moderation_forum_tools,
#moderation_forum_tools strong {
  font-size: 0px;
}

#moderation_forum_tools a {
  background: var(--neutralDark);
  border-radius: 5px;
  padding: 2px 8px;
  font-size: var(--normal-size);
}

.forum_utils a,
.specials_links a,
a.specials_links {
  background: var(--contrastLight);
  padding: 3px 12px;
  margin: 6px;
  opacity: 1;
  font-family: var(--altFont);
  font-size: var(--little-size);
  font-weight: normal;
}

/*** ------------------------------- ***/
/*** LISTE DES SUJETS -------------- ***/

.topics_container {
  background: var(--neutral);
  border-radius: 6px;
  outline: var(--border);
  box-shadow: 6px 6px var(--contrast);
  margin: 12px;
}

.topics_container h1 {
  font-size: var(--large-size);
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: var(--altFont);
  font-weight: normal;
  background-color: var(--contrast);
  border-radius: 6px 6px 0 0;
  padding: 3px 6px;
  text-align: right;
  text-transform: lowercase;
  color: var(--neutral);
  margin: 0;
}

.topics_container h1:after {
  content: "×";
  padding: 0 3px;
  margin-left: 12px;
  height: 16px;
  display: flex;
  align-items: center;
}

/* Conteneur sujet dans la liste */
.topicslist_row {
  background: var(--neutral);
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  border-bottom: 3px solid var(--neutralDarker);
}

.topicslist_row:last-child {
  border-bottom: 0;
}

.topicslist_infos {
  flex-grow: 100;
  padding: 0 12px;
}

.topicslist_infos i {
  padding: 0 6px;
  font-size: var(--medium-size);
}

.topic-type {
  background: var(--contrast);
  padding: 3px 6px;
  margin: 6px;
}

.topic_type * {
  font-family: var(--altFont);
  font-weight: normal;
}

.topic-type:empty {
  display: none;
}

/*titre du sujet*/
.topictitle {
  font-size: var(--medium-size);
  /* permet de raccourir les titres trop long ainsi : "Titre du suj..." */
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 430px;
  white-space: nowrap;
  vertical-align: bottom;
}

/* icône de type de message ( exemple : -18 ans, sujet résolu, ... ) */
.topic_msgicon {
  margin-right: 5px;
}

.topic_msgicon:empty {
  display: none;
}

.topiclist-infos img {
  margin-right: 3px;
}

.topicslist-stats {
  text-align: center;
}

.topicslist-stats * {
  background: var(--contrastLight);
  padding: 3px 12px;
  margin: 6px;
  opacity: 1;
  font-family: var(--altFont);
  font-size: var(--little-size);
  font-weight: normal;
}

.topicslist-avatar-lastpost img {
  object-fit: cover;
  object-position: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background: var(--neutralDarker);
  opacity: 0.5;
  filter: sepia(0.5);
}

.topicslist-avatar-lastpost img:hover {
  opacity: 0.7;
  filter: sepia(0.3);
}

.topicslist-lastpost {
  width: 180px;
  text-align: center;
}

.topicslist-lastpost a span strong,
.topic-author a span strong,
.topicslist-lastpost a,
.topic-author a {
  font-family: var(--altFont);
  font-weight: normal;
  text-transform: lowercase;
}

.topicslist-lastpost span div {
  background: var(--contrast);
  padding: 3px 12px;
  opacity: 1;
  font-family: var(--altFont);
  font-size: var(--little-size);
  font-weight: normal;
}

.topicslist-description {
  padding: 0 6px;
  font-size: var(--little-size);
}

/* ligne qui séparent les annonces et les notes des autres sujets (à activer dans "message > configuration") */
.topic_separator {
  border-bottom: 3px solid var(--neutral);
}

/* Bouton "trier les sujets" */
#sort-topics {
  position: relative;
  display: inline;
  background: var(--neutralDark);
  margin: 10px 0;
}

.sort-form {
  width: max-content;
  background: var(--neutral);
  border: 1px solid var(--neutralDarker);
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 110%;
  right: 0;
  display: none;
}

.expanded ~ .sort-form {
  display: block;
}
