/*** ------------------------------- ***/
/*** LISTE DES MEMBRES ------------- ***/

.userlist_container {
  background: var(--neutral);
  border-radius: 6px;
  margin: 0;
  outline: var(--border);
  box-shadow: 6px 6px var(--contrast);
  padding-bottom: 6px;
}

.userlist_container h1 {
  font-size: var(--large-size);
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: var(--altFont);
  font-weight: normal;
  background-color: var(--contrast);
  border-radius: 6px 6px 0 0;
  padding: 3px 6px;
  text-align: right;
  text-transform: lowercase;
  color: var(--neutral);
  width: 100%;
  margin-bottom: 0;
}

.userlist_container h1:after {
  content: "×";
  padding: 0 3px;
  margin-left: 12px;
  height: 16px;
  display: flex;
  align-items: center;
}

.userlist_container div {
  display: flex;
}

.userlist_container div .links_bar form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 12px;
  gap: 6px;
  justify-content: start;
}

.userlist_container div .links_bar form input[type="text"] {
  padding: 3px 6px;
  border-radius: 6px;
  outline: var(--border);
}

.userlist {
  flex-wrap: wrap;
  max-height: 70%;
  overflow: auto;
}

.userlist_profil {
  display: grid;
  grid-template-columns: 95px auto;
  grid-gap: 10px;
  padding: 10px;
  background: var(--neutral);
  border-radius: 5px;
}

.userlist_avatar {
  flex-direction: column;
  align-items: center;
}

.userlist_avatar span {
  text-align: center;
  background-color: var(--contrastLighter);
  padding: 3px 6px;
}

.userlist_avatar span a,
.userlist_avatar span a strong {
  font-family: var(--altFont);
  font-weight: normal;
}

.userlist_avatar img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  margin-bottom: 0;
  outline: var(--border);
  opacity: 0.5;
  filter: sepia(0.3);
  margin-bottom: 3px;
}

.userlist_avatar img:hover {
  opacity: 0.7;
  filter: sepia(0.1);
}

.userlist_details {
}

.userlist_pseudo {
  font-size: var(--medium-size);
}

.userlist_details .userlist_infos {
  display: inline;
}

.userlist_details .userlist_infos * {
  margin: 3px;
}

.userlist_contact {
}
