labeltag {
  background: var(--contrastLighter);
  padding: 3px 6px;
  font-family: var(--altFont);
  font-weight: normal;
}

bubble {
  background: var(--accentClrLight);
  color: var(--neutral);
  padding: 3px 6px;
  border-radius: 6px;
  font-family: var(--altFont);
  font-weight: normal;
}
