* {
  box-sizing: border-box;
  scrollbar-color: var(--contrastLight);
  scrollbar-width: thin;
  transition: 0.3s;
}

body {
  background: var(--neutralDark);
  font-family: var(--font);
  font-size: var(--normal-size);
  color: var(--textColor);
  margin: 0 !important;
  text-align: justify;
}

::-webkit-scrollbar {
  width: 9px;
  border-radius: 5px;
  background: var(--neutralDarker);
}
::-webkit-scrollbar-thumb {
  background: var(--neutral);
}
::-webkit-scrollbar-track {
  background: var(--neutral);
}

::selection {
  background-color: var(--contrast);
  color: var(--neutral);
}

.main_forum {
  background-color: var(--neutral);
  opacity: 0.8;
  background-image: linear-gradient(var(--neutralDarker) 8px, transparent 8px),
    linear-gradient(90deg, var(--neutralDarker) 8px, transparent 8px),
    linear-gradient(var(--neutralDarker) 4px, transparent 4px),
    linear-gradient(90deg, var(--neutralDarker) 4px, var(--neutral) 4px);
  background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
  background-position: -8px -8px, -8px -8px, -4px -4px, -4px -4px;
}

#page-body {
  width: 960px;
  max-width: 90%;
  margin: 20px auto;
  border-radius: 5px;
}

/****** ------------------------------------------------------------------------------
 ****** GÉNÉRALITÉS ------------------------------------------------------------------ 
 ****** Sélecteurs généraux s'appliquant à plusieurs reprises sur tout le forum ******/

/*** ----------------------------------- ***/
/*** LIENS ET TEXTE -------------------- ***/

/* LIENS DU FORUM --- */
a {
  font-weight: 600;
  text-decoration: none;
  color: var(--textColorAccent);
}

/*liens au survol*/
a:hover {
  color: var(--accentClr);
}

/* Emoji mis par défaut de FA
 * Les réduire les rend moins horribles à voir */
.emojione {
  width: 19px !important;
}

/* TITRES DES PAGES --- ***/

/* Utilisé pour des titres de pages */
h1,
h1.page-title {
  color: var(--contrastLight);
  margin: 10px 0 20px;
  font-size: var(--title-size);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* Utilisé pour des titres de sujets, blogs... */
h2,
.h2 {
  margin: 0;
  font-size: var(--large-size);
  font-weight: 700;
}

/* Utilisé pour des titres de sous-sections, petit encadré, ...*/
h3,
.h3 {
  color: var(--contrastLight);
  padding-bottom: 10px;
  margin: 0;
  font-size: var(--medium-size);
  font-weight: bold;
}

/*** --------------------------------------- ***/
/*** BOUTONS D'INTERACTION ET BARRE DE TEXTE ***/

label {
  display: flex;
  align-items: center;
}

/* CHAMPS DE TEXTE ---*/
input:is([type="text"], [type="password"], .inputbox),
textarea {
  border: none;
  background: var(--neutralDark);
  font-size: var(--normal-size);
  padding: 8px 10px;
}

/* Au focus */
:focus:is(input:is([type="text"], [type="password"], .inputbox), textarea) {
  outline: none;
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--contrast);
  margin: 0;
  font: inherit;
  color: var(--contrast);
  width: 12px;
  height: 12px;
  border: 1px solid var(--contrast);
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--contrastLighter);
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  transform: scale(1);
}

/* BOUTONS D'INTERACTION --- *
 * Envoyer, prévisualiser, sauvegarder, aller,... */
input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]),
.button,
button {
  font-size: var(--normal-size);
  padding: 3px 12px !important;
  border-radius: 6px;
  background: var(--accentClr);
  color: var(--neutral);
  font-weight: normal;
  border: none;
  font-family: var(--altFont);
}

/* Au survol */
:hover:is(
    input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]),
    .button
  ) {
  color: var(--accentClr);
}

/* Boutons désactivés */
:disabled:is(
    input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]),
    .button
  ) {
  opacity: 0.5;
  filter: saturate(1);
  cursor: not-allowed;
}

:disabled:hover:is(
    input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]),
    .button
  ) {
  color: inherit;
}

.submit-buttons {
  text-align: center;
}

.quickmod {
  margin-bottom: 20px;
}

/* MENUS DEROULANTS --- */
select {
  background: var(--neutralDark);
  border: var(--border);
  border-radius: 6px;
  font-size: var(--normal-size);
  padding: 1px 12px;
  color: var(--textColor);
}

select:focus-visible {
  outline: 1px solid var(--accentClr);
}

/*** ------------------------------- ***/
/*** ELEMENTS ESTHETIQUES ---------- ***/

/* Contenur général qui sert généralement de fond et/ou de contour*/
.container {
  background: var(--neutralDark);
  padding: 10px;
  border-radius: 5px;
}

/* Barre de séparation */
.separator {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--neutralDark);
  clear: both;
  height: 1px;
  width: 100%;
}

hr {
  border: none;
  border-top: var(--border);
}

/* Titre d'un toggle */
summary {
  cursor: pointer;
}

/* Conteneur moins large (les historiques des messages essentiellement) */
.wrapped {
  width: 80%;
  margin: 10px auto;
  clear: both;
}

/* Image/avatar réduit */
.mini_img img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-right: 10px;
  background: var(--neutralDark);
}

/* Permet d'aligner un élément à droite ou à gauche */
.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

/* Barre de gestion 
 * Contient des boutons ou des liens spéciaux */
.links_bar {
  display: flex;
  justify-content: end;
  gap: 6px;
}

.links_bar i {
  font-size: var(--large-size);
}

/* supprime si vide */
.links_bar:empty {
  display: none;
}

/* Lien spécial mis en avant */
.specials_links a,
a.specials_links {
  background: var(--neutralDark);
  padding: 2px 6px;
  border-radius: 5px;
}

/* Suppression des liens vides */
.specials_links a:empty,
a.specials_links:empty {
  display: none;
}

#bottom {
  justify-content: center;
  align-items: center;
}

#bottom a,
.specials_links.adminlink a {
  font-weight: normal;
  font-family: var(--altFont);
}
