@keyframes blink {
  50% {
    border-color: transparent;
  }
}

:root {
  color-scheme: light;
  --backgroundHeader: url("https://images2.imgbox.com/2f/4f/AXqjVUCV_o.png");
  --header: url("https://images2.imgbox.com/04/6b/6T3kIBFJ_o.png");
  --header-character: url("https://images2.imgbox.com/10/3f/sB3qnxdH_o.png");

  --neutral: #fff8e8;
  --neutralDark: #f7efdc;
  --neutralDarker: #f7f0df;

  --contrast: #d3bcac;
  --contrastLight: #e2d6cf;
  --contrastLighter: #cfddcf;

  --accentClr: #89bbd6;
  --accentClrLight: #bcd8e7;
  --accentClrDark: #de9870;

  --textColor: #030201;
  --textColorAccent: #4b2c0d;

  --border: 1px solid #4b2c0d;

  --shadowBox: 0 0 20px #030201;

  --little-size: 9px;
  --normal-size: 11px;
  --medium-size: 12px;
  --large-size: 16px;
  --title-size: 18px;

  --font: "Poppins";
  --altFont: "Google Sans Code";
  --titleFont: "Jersey 10";
  --accentFont: "Permanent Marker";

  --blinkAnimation: blink 0.5s step-end infinite alternate;
}

[data-color-scheme="dark"] {
  color-scheme: dark;

  --neutral: #20201e;
  --neutralDark: #2b2927;
  --neutralDarker: #2b2927;

  --contrast: #47403a;
  --contrastLight: #383533;
  --contrastLighter: #323d32;

  --accentClr: #4b748b;
  --accentClrLight: #455c68;
  --accentClrDark: #302017;

  --textColor: #d3a97f;
  --textColorAccent: #a17c5a;

  --border: 1px solid #a08871;

  --shadowBox: 0 0 20px #a09386;
}
