/*** ------------------------------- ***/
/*** PAGE DE CONNEXION ------------- ***/

/* Centrer les pages de connexion */
form[name="form_login"],
form[name="form_login"]~.panel {
  text-align: center;
}

form[name="form_login"] .content {
  display: grid;
  justify-content: center;
  justify-items: center;
}
