/*** ------------------------------- ***/
/*** EDITEUR DE TEXTE -------------- ***/
/* Editeur de texte */

.container_post_form,
.panel_post_options {
  background: var(--neutral);
  border-radius: 6px;
  margin: 0;
  outline: var(--border);
  box-shadow: 6px 6px var(--contrastLighter);
  padding-bottom: 6px;
}

.container_post_form h1 {
  font-size: var(--large-size);
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: var(--altFont);
  font-weight: normal;
  background-color: var(--contrast);
  border-radius: 6px 6px 0 0;
  padding: 3px 6px;
  text-align: right;
  text-transform: lowercase;
  color: var(--neutral);
  margin: 0;
}

.container_post_form h1:after {
  content: "×";
  padding: 0 3px;
  margin-left: 12px;
  height: 16px;
  display: flex;
  align-items: center;
}

#postingbox {
  margin: 0;
  outline: none;
}

#postingbox label,
label[for="modif_topic_title"] {
  background: var(--contrast);
  padding: 3px 6px;
  margin: 6px;
  font-family: var(--altFont);
  font-weight: normal;
}

#postingbox input[type="text"] {
  width: 100%;
}

.sceditor-container {
  border: var(--border) !important;
  background-color: var(--neutral) !important;
  border-radius: 0 !important;
  color: var(--textColor) !important;
}

/* Barre d'outils de l'éditeur de texte*/
div.sceditor-toolbar {
  background: var(--neutralDark) !important;
  border-bottom: none !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Conteneur des groupes d'outils */
div.sceditor-group {
  background: var(--neutralDark) !important;
  border-bottom: none !important;
}

/* Bouton d'un outil */
a.sceditor-button {
  height: 26px !important;
  /*ne pas retirer*/
  width: 26px !important;
  /*ne pas retirer*/
}

/* Bouton d'un outil au survol ou actif*/
.sceditor-button.active,
.sceditor-button:active,
.sceditor-button:hover,
.sceditor-button.hover {
  background: var(--neutral) !important;
  box-shadow: none !important;
  border: none !important;
  outline: 1px solid var(--neutralDarker);
}

/* Conteneur de la zone de texte */
.sceditor-container iframe,
.sceditor-container textarea {
  background-color: var(--neutral) !important;
  /*ne pas supprimer*/
  width: 100% !important;
  margin: 0 !important;
  padding: 5px !important;
  /*ne pas supprimer*/
  min-height: 250px !important;
}

.sceditor-container textarea:focus {
  outline: none;
}

/*Boîte Smiley*/
html#sceditor_smilies,
body#sce_smilies_body {
  background: transparent !important;
}

/*** ------------------------------- ***/
/*** PAGE D'ENVOI D'UN MESSAGE ----- ***/

.message-edition {
  display: flex;
  flex-direction: row;
  /* flex-direction: row-reverse; -- pour smileys à droite */
  gap: 15px;
  /*espace entre la zone de texte et la boîte à smileys*/
}

/* Prévisualisation d'un message */
#preview {
  background: var(--neutral);
  margin: 12px auto;
  max-width: 700px;
}

#preview .content {
  border-radius: 6px;
  outline: var(--border);
  padding: 24px;
}

#preview .h3 {
  background: var(--contrast);
  padding: 3px 6px;
  margin: 6px;
  font-family: var(--altFont);
  display: inline-block;
  color: var(--neutral);
}

.panel_post_options {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

#list_dice {
  grid-column: 1;
  grid-row: 2;
}

.panel_post_options .fields1 {
  grid-column: 1;
  grid-row: 1;
}
.panel_post_options .fields2 {
  grid-column: 2;
  grid-row: 1/3;
  margin: 6px;
  width: 100%;
}

.panel_post_options .fields2 label {
  display: flex;
}
.panel_post_options .fields2 br {
  display: none;
}
.panel_post_options .fields2 div {
  display: flex;
}
