/*** ------------------------------- ***/
/*** BARRE DE NAVIGATION ----------- ***/

/* Conteneur de la barre de nav */
.navbar {
  background: var(--contrast);
  border-radius: 6px;
  padding: 3px 12px;
  top: 0;
  width: calc(100% - 24px);
  margin: 6px 12px;
  outline: var(--border);
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar ul > li:first-child,
.navbar ul li:has(> a[href^="/faq"]),
.navbar ul li:has(> a[href^="/calendar"]),
.navbar ul li:has(> a[href^="/search"]),
.navbar ul li:has(> a[href^="/images"]) {
  display: none;
}

.navbar div {
  display: flex;
  gap: 12px;
}

.navbar div a i {
  color: var(--neutral);
  font-size: var(--title-size);
}

/* liens de navigation */
a.mainmenu {
  padding: 3px 12px;
  background: var(--neutral);
  border-radius: 6px;
  outline: 1px solid var(--textColorAccent);
  font-weight: normal;
  font-family: var(--altFont);
}

/* Lien navigation au survol*/
a.mainmenu:hover {
  background: var(--neutral);
  border-radius: 6px;
}

/* Image des liens */
a.mainmenu img {
  display: none;
}
