/*** ------------------------------- ***/
/*** BARRE DE NAVIGATION ----------- ***/

/* Conteneur de la barre de nav */
.navbar {
  background: var(--contrast);
  border-radius: 6px;
  padding: 12px;
  top: 0;
  width: calc(100% - 24px);
  margin: 6px 12px;
  outline: var(--border);
  z-index: 999;
  position: fixed;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar a[href^="/faq"],
.navbar a[href^="/calendar"],
.navbar a[href^="/search"],
.navbar a[href^="/images"] {
  display: none;
}

/* liens de navigation */
a.mainmenu {
  padding: 3px 12px;
  background: var(--neutral);
  border-radius: 6px;
  outline: 1px solid var(--textColorAccent);
  font-weight: normal;
  font-family: var(--altFont);
}

/* Lien navigation au survol*/
a.mainmenu:hover {
  background: var(--neutral);
  border-radius: 6px;
}

/* Image des liens */
a.mainmenu img {
  display: none;
}
