/* Menu des notifications FERMÉ */
#notiffi_panel {
  --menuSize: 500px;
  /* taille du Menu */
  width: var(--menuSize);
  position: fixed;
  z-index: 98;
  top: 0;
  height: 100%;
  right: calc(var(--menuSize) * -1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  background: var(--neutral);
  border-left: 1px solid var(--neutralDark);
  padding: 15px;
  padding-top: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all ease .7s;
}

/* Menu des notifications OUVERT */
#notiffi_panel.open {
  right: 0;
  visibility: visible;
  opacity: 1;
}

/* Conteneur des notifications */
.all_notifications {
  width: 100%;
  overflow: auto;
  max-height: 100%;
  background: var(--neutralDark);
  padding: 10px;
  border-radius: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Désactive la barre de défilement dans le contenenur */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Conteneur des notifications VIDE */
.no_notification {
  text-align: center;
  font-style: italic;
}

/* Conteneur du footer du menu
  (voir toutes les notifications, marquer comme lu, tout supprimer) */
.notiffi_manage {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Conteneur des bouton d'action des notifications */
.notiffi_actions {
  display: grid;
  justify-items: end;
  gap: 5px;

  /* Bouton d'action */
  button {
    padding: 2px 10px;
    background: var(--neutralDark);
    border-radius: 5px;

    &:hover {
      color: var(--accentClr)
    }
  }
}

/* Apparence d'une notification */
.notification {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border .2s;
  animation: notiffiFadeIn 0.3s ease-in-out;

  /* Notification au survol */
  &:hover {
    border-color: var(--neutralDarker);
  }
}

/* Animation d'apparition des notifications */
@keyframes notiffiFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Apparence d'une notification NON LUE */
.notification.unread {
  background-color: var(--neutral);
}

/* Conteneur des détails de la notification (avatar, icone) */
.notif_details {
  position: relative;
  align-self: start;
}

/* Conteneur de l'avatar */
.notif_avatar {
  background: var(--neutral);
  height: 35px;
  border-radius: 5px;
  aspect-ratio: 1;

  /* Image de l'avatar */
  & img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
}

/* Icone du type de la notification */
.notif_icon {
  position: absolute;
  bottom: -5px;
  right: -5px;
  background: var(--neutral);
  width: 18px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 20px;
  font-size: 10px;
}

/* Icone lorsque la notification est non lue */
.notification.unread .notif_icon {
  color: var(--neutral);
  background: var(--accentClr);
}

/* Conteneur du texte et la date de la notification */
.notif_content {
  width: 100%;
}

/* Date de la notification */
.notif_time {
  font-size: var(--little-size);
  opacity: .8;
  margin-top: 5px;
}

/* Bouton de suppression de la notification */
.notif_close {
  background: transparent;
  align-self: start;
  font-size: 18px;
  line-height: 0;
  opacity: 0;
  border-radius: 100px;
  aspect-ratio: 1;
  padding: 2px;
  transition: all .3s;
}

/* Affiche le bouton de suppression au survol de la notification */
.notification:hover .notif_close {
  opacity: 1
}

/* Alerte d'une notification */
.notification.alert {
  position: fixed;
  width: 400px;
  align-items: center;
  z-index: 99;
  bottom: 10px;
  right: 10px;
  background: var(--neutralDarker);
  transform: translateY(100%);
  opacity: 0;
  filter: blur(5px);
  transition: all .5s ease-in-out;
}

.notification.alert.up {
  transform: translateY(0%);
  opacity: 1;
  filter: blur(0);
  transition: all .5s ease-in-out;
}

.alert_close {
  background: var(--neutral);
  font-size: 18px;
  line-height: 0;
  border-radius: 100px;
  aspect-ratio: 1;
  padding: 2px;
}
