/*** ------------------------------- ***/
/*** QUI EST EN LIGNE -------------- ***/

.qeel {
  background: var(--neutralDark);
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-gap: 1px;
  margin-bottom: 10px;
}

.qeel>div {
  background: var(--neutral);
  padding: 15px 10px;
}

.qeel-left {
  border-radius: 5px 0 0 5px;
}

/* Dernier inscrit */
#last_user {
  display: flex;
  align-items: center;
}

#lastuser_avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-right: 10px;
}

/* groupes*/
a.groups {
  display: block;
  background: var(--neutralDark);
  border-radius: 5px;
  text-align: center;
  padding: 2px 0;
  margin-bottom: 5px;
  opacity: 1;
}

a.groups:hover {
  opacity: 0.7;
}

a.groups:last-child {
  margin-bottom: 0;
}

.qeel-middle {}

/*X connectés :: 1 membre, 0 invisible, 0 invité*/
#total_users {}

/*Connectés en ce moment*/
#online_users {
  height: 95px;
  overflow: auto;
}

/*ne pas supprimer*/
#online_users br {
  display: none;
}

.credits {
  font-size: var(--little-size);
  border: var(--border);
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.qeel-right {
  border-radius: 0 5px 5px 0;
  text-align: justify;
}
