/*** ------------------------------- ***/
/*** PAGE DE PROFIL ---------------- ***/

.user_profile {
  background: var(--neutral);
  border-radius: 5px;
  display: grid;
  grid-template-columns: max-content auto;
  padding: 10px;
  grid-gap: 20px;
}

.profile_avatar {
  width: 218px;
  height: 338px;
  padding: 12px;
  background-color: var(--neutralDarker);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile_avatar .online_tag {
  position: absolute;
  top: -6px;
  right: -6px;
}

.profile_infos {
  display: flex;
  flex-wrap: wrap;
}

.profile_infos i {
  font-weight: normal;
  font-size: var(--title-size);
  margin: 0 3px;
  border-radius: 6px;
}

.profile_avatar img {
  border-radius: 6px;
}

.profile_contact,
.profile_messages {
  display: flex;
  gap: 5px;
  width: max-content;
  height: fit-content;
  align-items: center;
}

.profile_content {
  height: 265px;
  overflow: auto;
}

.profile_field {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 135px auto;
  grid-gap: 10px;
}

.profile_field label,
.profile_field label > span {
  font-weight: 600;
  color: var(--link);
}

.profile_field field {
  position: relative;
}

.profile_admin {
  text-align: center;
  margin: 10px 0 0;
}

/* Bouton "suivre le membre" */
.followBtn {
  background: var(--neutral);
  border: 1px solid var(--neutralDark);
  border-radius: 5px;
  font-weight: 600;
  margin: 0;
  font-size: 14px;
}

.followBtn::before {
  top: 1px;
  position: relative;
  color: var(--accentClr);
  margin-right: 5px;
}

/* Bouton édition d'un champ de profil */
.ajax-profil_edit {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0px;
}

/* Bouton édition d'un champ de profil */
.ajax-profil_edit {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -15px;
}

/* Bouton validation des modifications */
.ajax-profil_valid {
  cursor: pointer;
  margin-left: 4px;
  vertical-align: middle;
}

.profile_contact a img {
  display: none;
}

.profile_contact div:has(#i_icon_email) {
  display: none;
}

.profile_contact a::before {
  font-family: "bootstrap-icons";
  display: inline-block;
  font-size: var(--title-size);
  font-weight: normal;
  margin: 3px;
  padding: 3px;
  background-color: var(--contrastLighter);
  border-radius: 6px;
}

.profile_contact div:nth-of-type(1) a::before {
  content: "\F32F";
}

.profile_contact div:nth-of-type(3) a::before {
  content: "\F4D4";
}

.profile_contact div:nth-of-type(4) a::before {
  content: "\F609";
}

.profile_contact div:nth-of-type(5) a::before {
  content: "\F42A";
}

.online_tag {
  visibility: hidden;
}

.online_tag::after {
  content: "\F1D2";
  font-family: "bootstrap-icons";
  visibility: visible;
  font-size: var(--title-size);
  font-weight: normal;
  color: var(--contrast);
}

.profile_content div.field_uneditable img {
  width: 180px;
  height: 120px;
  background-color: var(--contrast);
  padding: 6px;
  margin-bottom: 6px;
  object-fit: cover;
}
