/*** ------------------------------- ***/
/*** WOMBAT PROFILS EN POP UP ---- ***/

/* Fond atténué */
.wombat-overlay {
  position: fixed;
  z-index: 990;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
  background: var(--neutral);
}

/* effet de transition du fond atténué */
.wombat-overlay.open {
  opacity: 0.5;
  visibility: visible;
}

/* Fenêtre du popup */
.wombat-aside {
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 999;
  transition: 0.2s all ease;
  visibility: hidden;
  opacity: 0;
  width: 90%;
  max-width: 800px;
  box-shadow: var(--shadowBox);
  border-radius: 10px;
  height: max-content;
  transform: translateX(-20%);
}

/* effet de transition pour la fenêtre */
.wombat-aside.open {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}
