<div class="qeel">
  <h3>title</h3>

  <div class="groups-bar">
    <a class="groups"
      >Alpha
      <div>description groupe</div></a
    >
    <a class="groups"
      >Bêta
      <div>description groupe</div></a
    >
    <a class="groups"
      >Charlie
      <div>description groupe</div></a
    >
  </div>

  <div id="qeel_content">
    <div id="last_user">
      <span id="lastuser_avatar"></span>

      <span id="newest_user">
        {NEWEST_USER}<br />
        latest user
      </span>
    </div>

    <div id="users_window">
      <div id="last_connected">
        <div class="qeel_legend">seen</div>
        {L_CONNECTED_MEMBERS}<br />
      </div>
      <div id="online_users">
        <div class="qeel_legend">online</div>
        {LOGGED_IN_USER_LIST}
      </div>
      <div id="total_posts_users">
        {TOTAL_POSTS}<i class="bi bi-chat-square-text"></i> {TOTAL_USERS}
        <i class="bi bi-people"></i>
      </div>
    </div>
  </div>
  <div id="credits">
    <h3>Credits</h3>
    <div id="thanks_bar">
      <h4>thanks to</h4>
    </div>
    Ici crédits de ce qui qui l’a fait et qui qui l’admistre avec l’optimisation
    qui va bien. Et encore un peu plus de blabla.
  </div>
</div>
